/*app.css for otp system*/
*,body{margin:0;padding:0;
font-family: 'Roboto', sans-serif;
}
body
{
	background: #fff;
}
.clear{
clear:both;
}
.main_wrapper
{
    margin: 0 auto;
}

.inner_wrapper
{
	display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 600px;
    background-size: 200px;
}

.otp_form
{
    max-width: 400px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    text-align: center;
}

h1.otp_login_form_heading
{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 100;
	color:#282887;
}

form.otp_login_form
{
    max-width: 300px;
    padding: 5px;
    margin: 20px auto;	
}

input.otp_login_form_input
{
display: block;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 100;
    border: 1px solid #0692d2;
    position: relative;
    max-width: 288px;
    text-indent: 5px;
    border-bottom: 0;
	outline:0;
	color:#03A9F4;
}

input.otp_login_form_input::-webkit-input-placeholder {
   color: #03A9F4;
}

input.otp_login_form_input:-moz-placeholder { /* Firefox 18- */
   color: #03A9F4;  
}

input.otp_login_form_input::-moz-placeholder {  /* Firefox 19+ */
   color: #03A9F4;  
}

input.otp_login_form_input:-ms-input-placeholder {  
   color: #03A9F4;  
}
input.otp_login_form_button,a.otp_login_form_button_green,a.otp_login_form_button_fb
{    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    font-size: 18px;
    border: 1px solid #0692d2;
    position: relative;
    background: #03A9F4;
    color: #fff;
    font-weight: 100;
	outline:0;
	cursor:pointer;
}
a.otp_login_form_button_green
{
text-decoration:none;
max-width:300px;
margin:20px auto;
padding:10px 0;
background:transparent;
color:#03A9F4;
border-width:2px;
border-radius:25px;
}
a.otp_login_form_button_fb
{
text-decoration:none;
max-width:300px;
margin:20px auto;
    padding: 10px 0;
    background: #3b5998;
    color: #fff;
    border-width: 2px;
    text-shadow: 1px -1px 1px #172b56;
    border-color: #3b5998;
border-radius:25px;
}
.otp_footer
{
	text-align: center;
    background: #fff;
    padding: 20px 0;
    font-weight: 100;
    color: #282887;
    border-top: 1px solid #ddd;
}

p.otp_app_err
{
    padding: 10px;
    background: #ffa68a;
    margin: 10px 0;
    border: 1px solid #e4663e;
    color: #bf5736;
    font-weight: 100;
	display:block;
}	

p.otp_app_msg
{
    padding: 10px;
    background: #d6ffa6;
    margin: 10px 0;
    border: 1px solid #45c14a;
    color: #3fb344;
    font-weight: 100;
    display: block;
}	


p.otp_app_hint
{
    background: #fff59c;
    padding: 5px;
    border: 1px solid #ffc821;
    color: #b57d2b;
    font-weight: 100;
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
}	

p.otp_app_msg_success
{
padding: 10px;
    background: transparent url('icon/success.png')no-repeat top center;
    margin: 10px 0;
    border: 0;
    color: #3fb344;
    font-weight: 400;
    display: block;
    padding-top: 110px;
    font-size: 18px;
	transition:3s all;
}	

header
{
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.inner-header
{
padding: 5px 20px;
}

.logo
{
max-width: 150px;
    float: left;
}
.logo img
{
width:100%;
}
.right-menu
{
    max-width: 100px;
    float: right;
}

.menu-avatar-wrap
{
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.menu-avatar-wrap img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-avatar-action
{
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    padding: 20px;
    width: 250px;
    position: absolute;
	border:1px solid #ccc;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    right: 0;
	opacity:0;
	visibility:hidden;
    top: 175px;
	transition:0.4s all;
	z-index:999;
	background:#fff;
	
}
.menu-avatar-action-effect
{

	opacity:1;
	visibility:visible;
    top:75px;
	transition:0.4s all;
}


.demo_tip{
    display: block;
    position: absolute;
    width: 70px;
    left: -85px;
    text-align: center;
    background: #403f3f;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
	z-index:999;
    top: 16px;
	opacity:1;
	visibility:visible;
	transition:0.4s all;
}
.demo_tip_effect{
	opacity:0;
	visibility:hidden;
	left: -130px;
	transition:0.4s all;
}	
.demo_tip:after{
content: "";
    position: absolute;
    top: 7px;
    border-width: 6px;
    border-style: solid;
    border-color: #403f3f;
    right: -10px;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.profile_img
{
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.menu-avatar
{position:relative;}
.profile_img img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_details
{
margin-left: 100px;
    top: 20px;
    position: relative;
}

.menu-avatar-action:after,.menu-avatar-action:before
{
content: "";
    border-width: 10px;
    border-style: solid;
    border-bottom-color: #ccc;
	position:absolute;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    right: 18px;
    top: -20px;
}
.menu-avatar-action:after
{
   border-bottom-color: #fff;
	top:-19.5px;
}


div.menu-avtar:hover div.menu-avatar-action
{
opacity:1;
visibility:visible;
transition:0.4s all;
}
.avatar_wrap_main
{
max-width:280px;
text-align: center;
    background: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
	margin: 0 auto;
}	
.avatar_wrap_main_img
{
float: none;
    display: inline-block;
}	
	
.avatar_wrap_main_details
{
display: block;
    margin: 0;
    position: relative;
    top: auto;
    margin-top: 10px;
}